.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('../../../public/images/background.png'); /* Aqui é o correto */
  background-size: cover;
}

.form-section {
  background-color: rgba(255, 255, 255, 0.8); /* Fundo branco com transparência */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px); /* Efeito de desfoque para dar um efeito espelhado */
}

.error-message {
  color: red;
  font-size: 0.9em;
}

.form-group {
  margin-bottom: 15px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.botao-login {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none; /* Sem sublinhado */
  display: inline-block; /* Para aplicar margens */
  font-size: 16px; /* Tamanho da fonte */
  margin: 4px 2px 2px 90px; /* Margens */
  cursor: pointer; /* Cursor de mão ao passar o mouse */
  border-radius: 12px; /* Bordas arredondadas */
  transition: background-color 0.3s; /* Transição suave */
  height: 10px;
}

.botao-login:hover {
  background-color: #45a049; /* Cor de fundo ao passar o mouse */
}